<section class="hero">
  <div class="hero-left">
    <div class="name-box">
      <h1>Rikesh Puri</h1>
    </div>
    <div class="title-box">
      <p><strong>Sortware Developer | Full Stack Engineer </strong></p>
    </div>
    <div class="contact-boxes">
      <div class="contact-card">📞 +1-510-329-4411</div>
      <div class="contact-card">📧 rikesh.pu&#64;gmail.com</div>
      <div class="contact-card">📍 Fort Worth, TX</div>
      <div class="contact-card">
        📄 <a href="assets/RikeshPuri_Resume.pdf" target="_blank">Resume</a>
      </div>
      <div class="contact-card">
        🔗 <a href="https://www.linkedin.com/in/rikeshpuri/" target="_blank">LinkedIn</a>
      </div>
    </div>
  </div>
  <div class="hero-right">
    <img src="assets/profile.jpg" alt="Rikesh Puri" />
  </div>
</section>
